<div class="container">
  <div class="row mt-5">
    <h1>Welcome to the Bitcoin Tracker</h1>
  </div>
  <div class="row mt-5">
    <div class="col-10">
      <table class="table">
        <thead>
          <tr>

            <th scope="col">Time</th>
            <th scope="col">High</th>
            <th scope="col">Low</th>
            <th scope="col">Open</th>
            <th scope="col">Volume From</th>
            <th scope="col">Volume to</th>
            <th scope="col">Close</th>
            <th scope="col">Conversion type</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of bitcoinData.slice(startIndex,endIndex)">

            <td>{{data.time}}</td>
            <td>{{data.high}}</td>
            <td>{{data.low }}</td>
            <td>{{data.open}}</td>
            <td>{{data.volumefrom}}</td>
            <td>{{data.volumeto}}</td>
            <td>{{data.close}}</td>
            <td>{{data.conversionType}}</td>

          </tr>
        </tbody>
      </table>

    </div>

    </div>
    <div class="row">
      <div class="col-10">
        <div class="float-right">
          <app-paginator [pages]="pages"></app-paginator>
        </div>
      </div>
    </div>
  </div>



